body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    overflow: hidden;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: 1000000;

    background-color: #867575;
    color: #bbb89b;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;

    transition: opacity 0.5s ease-in-out;
}

#lock {
    position: absolute;

    top: 0;
    left: 0;

    display: none;
    background-image: url("images/scope.svg");

    z-index: 100000;
}

#UI {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    color: #bbb89b;

    z-index: 100;

    transition: left 0.5s ease-in-out,
                top 0.5s ease-in-out,
                transform 0.5s ease-in-out;
}

#fps {
    position: absolute;

    top: 0;
    left: 0;
}

#pause_controls {
    background-color: rgba(0, 0, 0, 0.75);

    position: absolute;
    display: none;

    top: 50%;
    left: 50%;

    padding: 20px;

    transform: translate(-50%, -50%);
}

.speedometer {
    position: absolute;

    bottom: 10%;
    left: 0;

    background-color: rgba(255, 255, 255, 0.1);
}

.target-speedometer {
    position: absolute;
    color: #bbb89b;

    bottom: 50%;
    transform: translateY(50%);
    left: 100%;

    background-color: rgba(255, 255, 255, 0.1);
}

.group {
    display: flex;
}

.group > h1 {
    font-size: 1rem;
    align-self: center;
    padding: 5px;
    width: 20ch;
    margin: 0;
}

.group > p {
    width: 100px;

    background-color: #4d4d4d;
    color: white;
    padding: 5px 0 5px;
    margin: 0;
}

.group_x:before {
    content: "X";

    background-color: darkred;
    color: white;
    padding: 5px;
    margin-right: 10px;
}

.group_y:before {
    content: "Y";

    background-color: green;
    color: white;
    padding: 5px;
    margin-right: 10px;
}

.group_z:before {
    content: "Z";

    background-color: blue;
    color: white;
    padding: 5px;
    margin-right: 10px;
}

#health {
    position: absolute;

    top: 3%;
    left: 50%;

    transform: translateX(-50%);

    width: 50vw;
    height: 20px;

    border: 3px solid rgba(255, 255, 255, 0.5);

    transition: opacity 0.5s ease-in-out;
}

#healthBar {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #9e9ee9;
}
